{% extends 'base.html.twig' %}

{% block title %}Proveedores{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #elm:hover { background-color:#007BFF!important; color: white; }
    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.flotante{
  float: left;
  margin-right: 10px;
}
.flotante img{
 width:100%;max-width:300px
}
/* 100% Image Width on Smaller Screens */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.flotante img{
  width:75%!important;max-width:280px!important;
}
.modal img{
margin:0!important;
}
.list-group{
  max-width: 100%;
}
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
@media only screen and (max-width: 890px) {
    .list-group{
      float: right;

     }
     img{
    margin-left: 50%!important;
    width: 100%!important;
     }
}
@media only screen and (max-width: 600px) {

     img{
    margin-left: 30%!important;
    width: 100%!important;
     }
}
}
</style>
<div class="example-wrapper">
  <div class="flotante">
  <img id="myImg" src="https://cdn.lajamonjunta.online/infografia.JPG" alt="Real Decreto 4/2014, de 10 de enero">
  </div>
  <!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
    <div class="list-group">
  <a id="elm" href="{{ path('ibericos_vazquez')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Ibéricos Vazquez</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">** Jamón Ibérico de 8,5 Kg (etiqueta roja) ..... 339 €</p>
  </a>
  <a id="elm" href="{{ path('beher')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">www.beher.com</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">** Jamón de bellota 50/75% IBÉRICO ORO C-2016 8,5 Kg 358 € + Transporte</p>
  </a>
  <a id="elm" href="{{ path('chorizojamon')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">chorizoyjamon.com</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">** Jamón Ibérico de Bellota (3 años Etiqueta Roja ) 9kg = 333€ + chorizo gratis</p>
  </a>
  <a id="elm" href="{{ path('emjamirabel')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Embutidos y Jamones Ibéricos Mirabel</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">** Jamón de bellota ibérico 8,5 Kg 323€</p>
  </a>
  <a id="elm" href="{{ path('ibericosguillen')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Ibéricos Guillén</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">FALTAN QUE ME ENVÍEN PRECIOS</p>
  </a>
  <a id="elm" href="{{ path('embutidosmorato')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Embutidos Morato</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">Jamón de BELLOTA 75% etiqueta roja 8,5 Kg 334,4€</p>
  </a>
  <a id="elm" href="{{ path('jamonestartessos')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Jamones Tartessos</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">Jamón de BELLOTA 75% etiqueta roja 8,5 Kg 334,4€</p>
  </a>
  <a id="elm" href="{{ path('beridico')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Beridico</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">Jamón de Bellota Ibérico Montanera 2016. Pieza de 7,5 Kg aprox. 318,75 € (SIN IVA)</p>
  </a>
  <a id="elm" href="{{ path('hernandezjimenez')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Hernández Jiménez</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">Jamón Ibérico de bellota peso 8 Kg aprox 330€</p>
  </a>
  <a id="elm" href="{{ path('encinares')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1">Encinares del Sur</h3>
      <small>Clica para ver oferta completa</small>
    </div>
    <p class="mb-1">Lotes desde 105€ IVA incluido y envío gratuito</p>
  </a>
</div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>
{% endblock %}
