{% extends 'base.html.twig' %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb navigation">
    <li class="breadcrumb-item"><a href="{{ path('indice') }}">{% trans %}Índice{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a></li>
  </ol>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
    <div class="col-md-auto">
    {{ form_start(form, { 'attr': {'class': 'form-signin disabled'} }) }}
    {{ form_row(form.email, {'label':false}) }}
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}Recuperar usuario{% endtrans %}</button>
    {{ form_end(form) }}
    </div>
    </div>
</div>
<br>
{% endblock %}