{% extends 'base.html.twig' %}

{% block javascripts %}
<script>
    CKEDITOR.replace( 'pcomment[description]' );
</script>
{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb navigation">
    <li class="breadcrumb-item"><a href="{{ path('indice') }}">{% trans %}Índice{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('post_index')}}">{% trans %}Post{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('post_show', {'id': pcomment.getPost.id}) }}">{{ pcomment.getPost.tittle}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('pcomment_edit', {'id': pcomment.id}) }}">{% trans %}Editar comentario{% endtrans %}</a></li>
  </ol>
</nav>
<div class="col text-center">
                                {{ form_start(form) }}
                                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
                                <div class="col text-center">
                                <a class="btn btn-secondary" href="{{ path('post_show', {'id': pcomment.getPost.getId }) }}">{% trans %}Volver{% endtrans %}</a>
                                <input type="submit" class="btn btn-primary avatarization mx-auto" name="btnAddMore" value="Guardar"/>
                                </div>
                                {{ form_end(form) }}
</div>
{% endblock %}