{% extends 'base.html.twig' %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb navigation">
    <li class="breadcrumb-item"><a href="{{ path('indice') }}">{% trans %}Índice{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('post_index')}}">{% trans %}Post{% endtrans %}</a></li>
  </ol>
</nav>
<div class="col text-right">
    <a href="{{ path('post_new') }}"><button type="button" class="btn btn-outline-primary">{% trans %}Nuevo post{% endtrans %}</button></a>
</div>
<br>
    <main role="main" class="container">
        <div class="my-3 p-3 rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% trans %}Post fijos{% endtrans %}</h6>
    {% if pinneds == null %}
    </p>{% trans %}No hay posts fijos.{% endtrans %}</p>
    {% endif %}
    {% for pinned in pinneds %}
    <div class="media text-muted pt-3">
      <img class="rounded-circle" width="30" height="30" src="{{ asset('uploads/avatar/') }}{{ pinned.user.getProfile.avatar }}">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        {% if pinned.user.getHierarchy.score == 0 or null %}
          <small>Mindugi</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score in range(1, 29) %}
        <i class="far fa-star-half fa-xs"></i><small> Jamonero ocasional</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score in range(30, 99) %}
        <i class="far fa-star fa-xs"></i><small> Degustador de Jamones</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score in range(100, 399) %}
        <i class="fas fa-star-half-alt fa-xs"></i><small> Gran catador</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score in range(400, 599) %}
        <i class="fas fa-star fa-xs"></i><small> Jamón de bastos</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score in range(600, 999) %}
        <i class="fas fa-medal fa-xs"></i><small> Experto en la Montanera</small>
        {% endif %}
        {% if pinned.user.getHierarchy.score >= 1000 %}
        <i class="fas fa-jedi fa-xs"></i><small> Rey de la dehesa</small>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="d-block text-gray-dark"><a href="{{ path('profiles', {'id': pinned.user.getId}) }}">{{ pinned.user.getUsername}}</a>, {{ pinned.timestamp|date("m/d/Y H:i")}}</strong>
          <a href="{{ path('post_show', {'id': pinned.id}) }}">{% trans %}Ir al post{% endtrans %}</a>
        </div>
        <span class="d-block">{{ pinned.tittle}}</span>
      </div>
    </div>
    {% endfor %}
    {% if pinneds != null %}
    <small class="d-block text-right mt-3">
      <a href="{{ path('fixed_posts')}}">{% trans %}Todos los posts fijos{% endtrans %}</a>
    </small>
    {% endif %}
  </div>

  <div class="my-3 p-3 rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">{% trans %}Posts{% endtrans %}</h6>
    {% if posts == null %}
    </p>{% trans %}No hay posts.{% endtrans %}</p>
    {% endif %}
    {% for post in posts %}
    <div class="media text-muted pt-3">
      <img class="rounded-circle" width="30" height="30" src="{{ asset('uploads/avatar/') }}{{ post.user.getProfile.avatar }}">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      {% if post.user.getHierarchy.score == 0 or null %}
          <small>Mindugi</small>
        {% endif %}
        {% if post.user.getHierarchy.score in range(1, 29) %}
        <i class="far fa-star-half fa-xs"></i><small> Jamonero ocasional</small>
        {% endif %}
        {% if post.user.getHierarchy.score in range(30, 99) %}
        <i class="far fa-star fa-xs"></i><small> Degustador de Jamones</small>
        {% endif %}
        {% if post.user.getHierarchy.score in range(100, 399) %}
        <i class="fas fa-star-half-alt fa-xs"></i><small> Gran catador</small>
        {% endif %}
        {% if post.user.getHierarchy.score in range(400, 599) %}
        <i class="fas fa-star fa-xs"></i><small> Jamón de bastos</small>
        {% endif %}
        {% if post.user.getHierarchy.score in range(600, 999) %}
        <i class="fas fa-medal fa-xs"></i><small> Experto en la Montanera</small>
        {% endif %}
        {% if post.user.getHierarchy.score >= 1000 %}
        <i class="fas fa-jedi fa-xs"></i><small> Rey de la dehesa</small>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="d-block text-gray-dark"><a href="{{ path('profiles', {'id': post.user.getId}) }}">{{ post.user.getUsername}}</a>, {{ post.timestamp|date("m/d/Y H:i")}}</strong>
          <a href="{{ path('post_show', {'id': post.id}) }}">{% trans %}Ir al post{% endtrans %}</a>
        </div>
        <span class="d-block">{{ post.tittle}}</span>
      </div>
    </div>
    {% endfor %}
    {% if posts != null %}
    <small class="d-block text-right mt-3">
      <a href="{{ path('post_posts')}}">{% trans %}Todos los posts{% endtrans %}</a>
    </small>
    {% endif %}
  </div>
</main>
<br>
{% endblock %}
